<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
            <h2 class="centered-text turquoise taller gap">Browse By Field</h2>
                <form action="/browse_specific" method="POST">
                    <input type="submit" name="field" value="Health Sciences" class="btn btn-lg btn-secondary btn-block gap"/>
                    <input type="submit" name="field" value="Social Sciences" class="btn btn-lg btn-secondary btn-block gap"/>
                    <input type="submit" name="field" value="Engineering" class="btn btn-lg btn-secondary btn-block gap"/>
                    <input type="submit" name="field" value="Life Sciences" class="btn btn-lg btn-secondary btn-block gap"/>
                </form>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
            <h2 class="centered-text turquoise taller gap">Browse A-Z</h2>
            <a href="/browse_all" class="btn btn-lg btn-secondary btn-block gap">All Papers</a>
        </div>
    </div>
</div>
