<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
            <h2 class="centered turquoise taller gap">Browse By Field</h2>
            <button class="btn btn-lg btn-secondary btn-block gap">Health Sciences</button>
            <button class="btn btn-lg btn-secondary btn-block gap">Social Sciences</button>
            <button class="btn btn-lg btn-secondary btn-block gap">Engineering</button>
            <button class="btn btn-lg btn-secondary btn-block gap">Life Sciences</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
            <h2 class="centered turquoise taller gap">Browse A-Z</h2>
            <button class="btn btn-lg btn-secondary btn-block gap">All Papers</button>
        </div>
    </div>
</div>