<div class="container">
    <div class="row">
        <table class="table">
            <thead class="table-success">
                <th scope="col">Paper Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publication Date</th>
                <th scope="col">Field</th>
                <th scope="col">Download</th>
                <th scope="col">View</th>
            </thead>


        </table>

        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <h2 class="centered-text turquoise-text gap"> No results found. </h2>
        </div>
                   


        <a href="/search" class="btn btn-primary gap centered">Search Again</a>
    </div>
</div>