<h1>Search</h1>


<br>
<div>
     <form action="/search" method="get">
        Paper Title:<br>
        <input type="text" name="paperTitle">
        <br>
        First Name:<br>
        <input type="text" name="firstName">
        <br>
        Last Name:<br>
        <input type="text" name="lastName">
        <br>
        Publication Year:<br>
        <input type="number" name="publicationYear">
        <br>
        Field:<br>
        <input type="text" name="filed">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
