<div class="container">
    <div class="row col-sm-6 col-md-6 col-lg-6 centered">
        <h2>Upload Your Paper</h2>
        <p>Must be of format "AuthorLastName.pdf"</p>

        <form class="form-signin" action="/save_details" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputFile">Please select a file</label>
                <input type="file" id="inputFile" name="fileInput class="form-control-file" required>                
            </div>
            <div class="gap"></div>
            
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
            <hr class="my-4">
        </form>
    </div>
</div>