<input type="file" id="file-input">
<br><br>
<p id="status">Please select a file</p>

<h2>Your Information</h2>

<form method="POST" action="/save_details">
    <input type="hidden" id="paper-url" name="paper-url">
    Paper Title:<br>
    <input type="text" name="paperTitle">
    <br>
    First Name:<br>
    <input type="text" name="firstName">
    <br>
    Last Name:<br>
    <input type="text" name="lastName">
    <br>
    Publication Year:<br>
    <input type="number" name="publicationYear">
    <br>
    Field:<br>
    <input type="text" name="filed">
    <br><br>
    <input type="submit" value="Submit">
</form>
