<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <h2 class="centered-text turquoise-text gap">Welcome to Negative Results in Science!</h2>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
            <a href="/browse" class="btn btn-lg btn-secondary btn-block gap">Browse Papers</a>
            <a href="/login" class="btn btn-lg btn-secondary btn-block gap">Log In</a>
            <a href="/sign_up" class="btn btn-lg btn-secondary btn-block gap">Sign Up</a>
        </div>
    </div>
</div>
